@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Merriweather', serif;
    margin: auto;
    width: 92%;
    height: 60px;
    background-color: rgb(12, 12, 12);
    align-items: center;

}

.pic {
    width: 8%;
    height: 60px;
    float: left;
}

.name {
    margin: 0px 5px;
    position: relative;
    left: 0%;
    top: 0%;
    width: 32%;
    height: 60px;
    float: left;
}

.name h1 {
    margin: 10px;
    text-align: center;
    color: rgb(255, 0, 0);
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    float: right;
}

.menu ul li {
    list-style: none;
    margin: 10px;
    padding: 5px;

}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

/* ============================================================================================= */
.container {
    font-family: 'Merriweather', serif;
    margin: auto;
    width: 92%;
    height: 600px;
    background-image: url("https://images.unsplash.com/photo-1616004655123-818cbd4b3143?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-repeat: no-repeat;
    background-size: cover;

}

.intro {
    position: relative;
    left: 320px;
    top: 170px;
    color: aliceblue;
    width: 54%;
    height: 250px;
    font-size: 20px;
}

/* =================================================================================== */
.section {
    width: 92%;
    height: 800px;
    background-color: black;
    margin: auto;
}

.education {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: 25px;
}

.cont {
    width: 85%;
    height: 700px;
    background-color: purple;
    margin: auto;
}

.clg {
    width: 202px;
    height: 180px;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 10px 10px;
    font-size: 25px;
}

.line {
    width: 4px;
    height: 550px;
    background-color: rgb(96, 245, 10);
    position: relative;
    left: 245px;
    top: -153px;
}

.projects {
    width: 763px;
    height: 100px;
    float: right;
    position: relative;
    right: 0px;
    top: -147px;
    font-size: 24px;
}

.Btech {
    width: 765px;
    height: 66px;
    float: right;
    position: relative;
    left: 0px;
    top: -180px;
    font-size: 26px;
}

.mtech {
    width: 650px;
    height: 90px;
    float: right;
    position: relative;
    right: 122px;
    top: -165px;
    font-size: 25px;
}

.mtech h4 {
    padding: 10px;
}

.school {
    width: 650px;
    height: 90px;
    float: right;
    position: relative;
    right: 113px;
    top: -37px;
    font-size: 25px;
}

.school p {
    padding: 8px;
}
.scl_add{
    width: 215px;
    height: 150px;
    float: left;
    position: relative;
    left: 0px;
    top: -330px;
    font-size: 24px;
    margin: 10px;
}
/* ============================================================================================ */
.article{
    width: 92%;
    height: 650px;
    background-color: black;
    margin: auto;
}
.skills h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 27px;
    font-weight: bolder;
    position: relative;
    left: -187px;
    color: white;
}


@import url("https://fonts.googleapis.com/css?family=Lato:300");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-size: 16px;
}

/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
  display: flex;
  height: 540px;
  width: 1200px;
  /* min-height: 100vh; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/246/99/675/texture-digital-art-pattern-artwork-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 27px;
  top: -100px;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 2.5rem;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
}
.circle.html {
    background-image: conic-gradient(#B5838D 80%, #FFCDB2 0);
  }
.circle.css {
  background-image: conic-gradient(#B5838D 80%, #FFCDB2 0);
}
.circle.java {
  background-image: conic-gradient(#B5838D 85%, #FFCDB2 0);
}
.circle.DSA {
  background-image: conic-gradient(#B5838D 75%, #FFCDB2 0);
}
.circle.js {
  background-image: conic-gradient(#B5838D 75%, #FFCDB2 0);
}
.circle.ML {
    background-image: conic-gradient(#B5838D 75%, #FFCDB2 0);
}
.circle.NLP {
    background-image: conic-gradient(#B5838D 70%, #FFCDB2 0);
}
.circle.DP {
    background-image: conic-gradient(#B5838D 80%, #FFCDB2 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}

/* =========================================================================================== */
.footer {
    font-family: 'Merriweather', serif;
    margin: auto;
    width: 92%;
    height: 500px;
    background-color: rgb(19, 17, 17);
}

.contact {
    position: relative;
    left: 52px;
    top: 45px;
    width: 50%;
    height: 290px;
}

.contact h3 {
    position: relative;
    color: orangered;
    font-size: 50px;
}

.contact ul {
    position: relative;
    list-style: none;
    text-decoration: none;
    position: relative;
    left: 0px;
    top: 10px;
}

.contact ul li {
    position: relative;
    left: 10px;
    list-style: none;
    margin: 10px;
    padding: 0px;
}

.contact ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 22px;
}

.contact ul li a img {
    position: relative;
    left: -10px;
    top: 5px;

}

.wrap {
    border: 5px solid orangered;
    width: 400px;
    height: 450px;
    position: relative;
    left: 800px;
    top: -275px;
    /* background-color: yellow; */
}

.name_form {
    margin: 15px auto;
    position: relative;
    left: 9%;
    top: 0%;
    width: 80%;
    height: 40px;
    float: left;
    color: white;
    background-color: rgb(0, 0, 0);
}

.email {
    margin: 15px auto;
    position: relative;
    left: 9%;
    top: 0%;
    width: 80%;
    height: 40px;
    float: left;
    color: white;
    background-color: rgb(0, 0, 0)
}

.subject {
    margin: 15px auto;
    position: relative;
    left: 9%;
    top: 0%;
    width: 80%;
    height: 40px;
    float: left;
    color: white;
    background-color: rgb(0, 0, 0)
}

.message {
    padding: 5px;
    margin: 15px auto;
    position: relative;
    left: 9%;
    top: 0%;
    width: 78%;
    height: 110px;
    float: left;
    color: white;
    background-color: rgb(0, 0, 0)
}

.send {
    margin: 15px auto;
    position: relative;
    left: 10%;
    top: 0%;
    width: 27%;
    height: 40px;
    float: left;
    font-size: larger;
    color: white;
    background-color: rgb(0, 0, 0)
}

.send:hover {
    box-shadow: 10px 10px 10px 10px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 150px;
    border-top: 5px solid #edf1f3;
    border-radius: 0%;
}